@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


.headLight {
  padding: 143px 0;
  line-height: 1.5;
  font-weight: bold;
}

.headLight p:nth-child(2) {
  font-size: 40px;
}
.headLight p:nth-child(3) {
  font-size: 40px;
  background: -webkit-linear-gradient(135deg, #34f082 69%, #0b159b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ent_list_center {
  display: grid;
  width: 370px;

  grid-template-columns: 100% 100% 100%;
  gap: 70px 40px;
}
.enter_List {
  border: 1px solid #cacac8;
  border-radius: 8px;
  padding-bottom: 20px;height: 250px;
}

.enter_List dt {
  border-bottom: 1px solid #cacac8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 2.4rem;
  padding: 23px 13px;
  background: #3d83df;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.enter_List dd {
  line-height: 1.5;
  padding: 10px 30px;
  display: block;
}

.ent_banner {  clear: both; padding: 180px 0;}


/*tb일 경우*/
@media screen and (max-width: 900px) {  

header {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: 0.5px solid #cacac8;
}
h1 img {
  height: 57px;
  width: 211px;
}
.logo {
  position: absolute;
  top: 7px;
  left: 100px;
}
.gnb ul {
  display: flex;
  justify-content: center;
}
.gnb ul li {
  font-size: 20px;
  font-weight: bold;
 
}
.gnb ul li a {  padding: 26px 80px; }
.gnb ul li a:hover{  border-bottom: 3px solid #3d83df;}


.headLight {
  padding: 143px 0;
  line-height: 1.5;
  font-weight: bold;
}

.headLight p:nth-child(2) {
  font-size: 40px;
}
.headLight p:nth-child(3) {
  font-size: 40px;
  background: -webkit-linear-gradient(135deg, #34f082 69%, #0b159b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ent_list_center {
  display: grid;
  width: 370px;

  grid-template-columns: 100% 100% 100%;
  gap: 70px 40px;
}
.enter_List {
  border: 1px solid #cacac8;
  border-radius: 8px;
  padding-bottom: 20px;height: 250px;
}

.enter_List dt {
  border-bottom: 1px solid #cacac8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 2.4rem;
  padding: 23px 13px;
  background: #3d83df;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.enter_List dd {
  line-height: 1.5;
  padding: 10px 30px;
  display: block;
}

.ent_banner {  clear: both; padding: 180px 0;}

footer { background: #636363; color: #fff;}
footer div { padding: 46px 0 15px 0; }
footer div li:nth-child(2)::after { content: "|"; padding: 0 10px;}
footer div li:nth-child(2)::before { content: "|"; padding: 0 10px; }

small { display: flex; justify-content: center; padding: 23px 0;}

#topButton { width: 50px; height: 50px; border-radius: 50%;background:#3d83df ;color: #fff;
position: fixed; bottom: 20px;right: 20px;}



}